/* Primary  */
$black: #000000;
$white: #FFFFFF;
$red-primary: #F20F38;

/* Secondary */
$gray: #4D4D4D;
$lightgray: #666666;
$white-dim: rgba(255,255,255,0.5);
$placeholder: #666666;

.test {
  border-radius: 1px solid $red-primary;
  -webkit-border-radius: 1px solid $red-primary;
  -moz-border-radius: 1px solid $red-primary;
  -ms-border-radius: 1px solid $red-primary;
  -o-border-radius: 1px solid $red-primary;
}