/* Primary  */
$black: #000000;
$white: #FFFFFF;
$red-primary: #B80000;

/* Secondary */
$gray: #4D4D4D;
$lightgray: #666666;
$white-dim: rgba(255,255,255,0.5);

$green-button: #00C16B;
$orange-button: #FF9733;
$gray-button: #CECECE;

$gray-background: #FAFAFA;
$black-background: #000000;

$placeholder: #888888;
$black-form-label: #000000;
$gray-form-label: #666666;
$gray-form-border: #4D4D4D;
$black-form-border: #000000;
$gray-form-active: #BDBDBD;
$red-form-error: #B80000;
$hashtag-border: #666666;
