@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap');
/* Montserrat Font for HR Q&A Branding Logo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import "colors";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 1em;
  color: $gray;
  background-color: $white;
  line-height: 1.2rem;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Mitr', sans-serif !important;
  color: $black;
  font-weight: 400 !important;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.05em;
}

h2.main-title {
  text-align: center;
  margin-bottom: 1.5rem !important;
}

/* Buttons */

.btn {
  font-family: 'Mitr', sans-serif;
  border: 0 none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 400;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  background: $red-primary;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.9;
    color: $white;
    box-shadow: none !important;
  }
}

.btn-outline {
  background: none;
  color: $red-primary;
  border: 1px solid $red-primary;

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $red-primary;
  }
}

.btn-gradient {
  background-image: linear-gradient(120deg, #da0101 0%, #B80000 100%);
  color: $white;
  z-index: 1;
  position: relative;

  &:hover,
  &:focus {
    color: $white;
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(120deg, #B80000 0%, #da0101 100%);
    z-index: -1;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
    opacity: 0;
    border: none;
  }

  &:hover::before {
    opacity: 1;
  }
}

.btn-square {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.more-btn {
  display: table;
  margin: 0 auto;

  .btn {
    padding: 0.75rem 2.5rem;
  }

}

/* Element */
img {
  width: 100%;
  height: auto;
}
.user-img-round {
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}

a,
button {
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active,
button:active,
button:focus {
  -moz-outline-style: none !important;
  outline: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.extlink {
  display: inline-flex;
  color: $gray;
  padding: 0;
  text-decoration: underline;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $gray;
    opacity: 0.85;
  }
}

.img-link img {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

  &:hover {
    filter: opacity(0.85);
    -webkit-filter: opacity(0.85);
  }

}

/* Back to Top Button */

#top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red-primary;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100rem;
  position: fixed;
  bottom: 20%;
  right: 2%;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}

#top-button:hover {
  cursor: pointer;
  background-color: $red-primary;
  opacity: 0.8;
}

#top-button.show {
  opacity: 1;
  visibility: visible;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 280px;
}

nav {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background: $white;
  }

  .logo {
    width: 175px;
  }

  .search {
    .search-form {
      display: block;
    }

    .ui.input>input {
      border: 1px solid $red-primary !important;
      width: 300px;
      padding: 0.75rem 1.5rem !important;
    }

    .ui.input>input::placeholder {
      color: $placeholder;
      font-family: 'Mitr', sans-serif;
    }

    .ui.icon.input>i.icon {
      color: $red-primary;
      opacity: 1;
    }

  }

  .btn-add {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  .la-plus {
    font-size: 25px;
    margin-right: 10px;
    font-weight: 900;
  }

  .btn-group {

    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      line-height: 0;
    }

    li {
      padding: 0 1rem
    }

    .btn-search {
      display: none;
    }
  }

  .profile {

    .profile-menu {

      .ui.dropdown .menu>.item {
        font-family: 'Mitr', sans-serif !important;
        font-weight: 400;
        padding: 10px 10px !important;
        font-size: 1em;
        align-items: center;
        color: $gray;
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 100rem;
        -webkit-border-radius: 100rem;
        -moz-border-radius: 100rem;
        -ms-border-radius: 100rem;
        -o-border-radius: 100rem;
      }

    }

  }
}

.nav-search-mobile {
  display: none;
}

#content {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
  width: 66.666667%;

  .inner {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .main {
    // width: 100%;
    flex: 1 1 auto;
    padding: 2rem 0;
  }

  .side-common,
  .side-mypage {
    margin-bottom: 2rem;

    .list {
      &>* {
        margin-bottom: 2rem;
      }
    }

  }


}
.side {
  width: 25%;
  padding: 2rem 0;
  margin-left: 2rem;

  .signup {
    padding: 1rem;
    background: $gray-background;

    &>* {
      margin-bottom: 1rem;
    }

    &>*:last-child {
      margin-bottom: 0;
    }

    .list {
      display: flex;
      flex-direction: column;
    }

    .list>* {
      margin-bottom: 0.5rem;

    }

    .btn {
      font-weight: 300;
      font-size: smaller;
      padding: 0.75rem 1rem;
    }

    i {
      font-size: 18px;
      margin-right: 6px;
    }

    .fb .btn {
      background: #3B5998;
    }

    .tw .btn {
      background: #1DA1F2;
    }

    .gg .btn {
      background: $white;
      border: 1px solid $red-primary;
      color: $red-primary;
    }

    .gg-logo {
      width: 18px;
      height: auto;
      margin-right: 6px;
    }

    .agree {
      font-size: 0.65em;
      text-align: center;
      line-height: 1rem;
    }

    .account {
      text-align: center;
      font-size: 0.75em;

      .extlink {
        color: $red-primary;
        font-weight: bold;

        &:hover,
        &:focus {
          color: $red-primary
        }
      }
    }
  }

  .cta-btn {
    .btn {
      background: $orange-button;
    }
  }

  .category {
    .heading {
      margin-bottom: 1rem;
    }

    .box {
      padding: 1rem;
      background: $gray-background;
    }

    p {
      font-size: 0.85em;
      line-height: 1.2rem;
    }

    .ad-box {
      padding: 0;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      p {
        font-family: 'Mitr', sans-serif;
        font-size: 0.85em;
        color: $black;


      }
    }
  }
}

.side-mypage {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 85px;
      height: 85px;
      border-radius: 100rem;
      -webkit-border-radius: 100rem;
      -moz-border-radius: 100rem;
      -ms-border-radius: 100rem;
      -o-border-radius: 100rem;
      margin-bottom: 0.5rem;
    }

    .name {
      font-family: 'Mitr', sans-serif;
      color: $black;
      font-size: 1em;
    }
  }

  .profile-btn {
    .btn {
      background: $gray-button;
      color: $gray;
    }

    i {
      font-size: 20px;
      margin-right: 6px;
    }
  }
}

footer {
  width: 100%;
  background: $black-background;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    &>* {
      margin-bottom: 2.5rem;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  .logo {
    width: 175px;
    opacity: 0.5;
  }

  .menu {
    width: 100%;

    .list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      li a {
        font-family: 'Mitr', sans-serif;
        font-size: 1em;
        color: $white;
        padding: 0 1.5rem;

        &:hover,
        &:focus {
          text-decoration: none;
          opacity: 0.8;
        }
      }
    }
  }

  .copyright {
    color: $white-dim;
    font-size: 12px;
    letter-spacing: 1px;
  }
}





/* Breakpoint to Mobile Design at screen width less than 992px */
/* Focus the design on iPhone XS Max at 414x896px */

@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  /* Buttons */

  .btn {
    font-size: 15px;
    padding: 10px 14px;
  }

  .cta-btn {
    .btn {
      padding: 1.25rem;
      width: 100%;
    }

  }

  .more-btn {
    display: flex;
    width: 100%;

    .btn {
      padding: 1.25rem;
    }
  }

  #top-button {
    width: 40px;
    height: 40px;
    bottom: 5%;
    right: 5%;
  }

  nav {
    .list {
      padding: 1rem 1rem;
    }

    .logo {
      width: 100px;
    }

    .search {
      display: none;
    }

    .btn {
      font-size: 12px;
    }

    .btn-add {
      .desktop {
        display: none;
      }

      .mobile {
        display: block;

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          padding: 0;
        }
      }
    }

    .la-plus {
      font-size: 25px;
      margin-right: 0;
    }

    .btn-group {
      .list {
        padding-left: 0;
        line-height: 0;
      }

      li {
        padding: 0;
        padding-right: 10px;
      }

      .btn-outline {
        border: 0;
        padding: 0;
        border-bottom: 1px solid $red-primary;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }

      .btn-search {
        display: block;

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          padding: 0;
          border: 1px solid $red-primary;
          border-radius: 100rem;
          -webkit-border-radius: 100rem;
          -moz-border-radius: 100rem;
          -ms-border-radius: 100rem;
          -o-border-radius: 100rem;
        }

        i {
          font-size: 20px;
        }
      }
    }

    .profile {

      .profile-menu {

        .ui.dropdown .menu>.item {
          padding: 10px 8px !important;
          font-size: 12px;
        }

        .ui.top.left.pointing.dropdown>.menu {
          margin: 0;
          margin-top: 8px;
        }

        img {
          width: 32px;
          height: 32px;
        }

      }

    }
  }

  .nav-search-mobile {
    display: none;
    padding: 10px 20px;
    background: #fcfcfc;

    .ui.input {
      display: flex;
    }

    .ui.input>input {
      border: 1px solid $red-primary !important;
      padding: 0.75rem 1.5rem !important;
      font-size: 16px !important;
    }

    .ui.input>input::placeholder {
      color: $gray;
      font-family: 'Mitr', sans-serif;
    }

    .ui.icon.input>i.icon {
      color: $red-primary;
      opacity: 1;
    }
  }

  .wrapper {
    max-width: 1600px;
    margin: auto;
    width: 100%;

    .inner {
      flex-direction: column;
      padding: 0;
    }

    .main {
      width: 100%;
      margin-right: 0;
      padding: 1rem 20px;
    }

    .side-common,
    .side-mypage {
      margin-bottom: 2rem;

      .list {
        &>* {
          margin-bottom: 2rem;
        }

      }
    }

    .side {
      width: 100%;
      padding: 1rem 20px;
      margin-left: 0;

      .signup {
        padding: 2rem 1rem;

        .btn {
          font-size: 14px;
          padding: 1rem 1rem;
        }

        i {
          font-size: 24px;
          margin-right: 10px;
        }

        .gg-logo {
          width: 24px;
          margin-right: 10px;
        }

        .agree {
          font-size: 12px;
        }

        .account {
          font-size: 14px;
        }
      }

      .category {
        p {
          font-size: 1em;
          line-height: 1.5rem;
        }

        .ad-box {
          padding: 0;

          img {
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1em;

          }
        }
      }
    }

    .side-mypage {

      img {
        width: 85px;
        height: 85px;

        .name {
          font-size: 1em;
        }
      }
    }
  }

  footer {
    width: 100%;
    background: $black-background;

    .inner {
      padding: 2rem 20px;

      &>* {
        margin-bottom: 1.5rem;
      }
    }

    .logo {
      width: 175px;
      opacity: 0.5;
    }

    .menu {
      width: 100%;

      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li a {
          font-size: 1em;
          padding: 5px 10px;
        }
      }
    }

    .copyright {
      font-size: 10px;
    }
  }

}

