@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap");
/* Montserrat Font for HR Q&A Branding Logo */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
/* Primary  */
/* Secondary */
.test {
  border-radius: 1px solid #F20F38;
  -webkit-border-radius: 1px solid #F20F38;
  -moz-border-radius: 1px solid #F20F38;
  -ms-border-radius: 1px solid #F20F38;
  -o-border-radius: 1px solid #F20F38;
}

body {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #4D4D4D;
  background-color: #FFFFFF;
  line-height: 1.2rem;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.05em;
}

h2.main-title {
  text-align: center;
  margin-bottom: 1.5rem !important;
}

/* Element */
img {
  width: 100%;
  height: auto;
}

a,
button {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active,
button:active,
button:focus {
  -moz-outline-style: none !important;
  outline: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 280px;
}

header nav .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: #FFFFFF;
}
header nav .logo {
  width: 175px;
}
header nav .search .search-form {
  display: block;
}
header nav .search .search-form .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #F20F38;
  padding: 12px 20px;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
header nav .search .search-form .wrap .search-key {
  display: flex;
  align-items: center;
}
header nav .search .search-form .wrap .search-key .selecting-all {
  z-index: 100;
  font-family: "Mitr", Arial, Helvetica, sans-serif;
}
header nav .search .search-form .wrap .search-key .selecting-all .text {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  padding-right: 4px;
  margin-right: 8px;
  border-right: 2px solid #000000;
  line-height: 15px;
}
header nav .search .search-form .wrap .search-key input {
  min-width: 300px !important;
  border: none;
  font-size: 16px !important;
  font-family: "Mitr", Arial, Helvetica, sans-serif;
}
header nav .search .search-form .wrap .search-key input::placeholder {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #797979;
}
header nav .search .search-form .wrap .search-btn .la-search {
  color: #F20F38;
  font-size: 20px;
}
header nav .btn-group .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 0;
}
header nav .btn-group li {
  padding: 0 1rem;
}
header nav .btn-group .btn-search {
  display: none;
}
header nav .btn-group .menu-link {
  font-size: 1.15em;
  font-weight: 700;
  color: #000000;
}
header nav .btn-group .menu-link:hover, header nav .btn-group .menu-link:focus {
  color: #F20F38;
}
header nav .btn-group .menu-link .la-phone {
  color: #F20F38;
  font-size: 20px;
  margin-right: 8px;
}
header .nav-search-mobile {
  display: none;
}
header #banner {
  width: 100%;
  height: 25vw;
  background: gainsboro;
}

#content {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.wrapper .inner {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.wrapper .main {
  flex: 1 1 auto;
  padding: 2rem 0;
}

footer {
  background: #171717;
  width: 100%;
  color: #FFFFFF;
}
footer .information {
  display: flex;
}
footer .information a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  font-weight: 500;
}
footer .information a:hover, footer .information a:focus {
  opacity: 0.7;
}
footer .information .info {
  width: 60%;
}
footer .information .info .logo {
  width: 175px;
  margin-bottom: 1.5rem;
}
footer .information .info .company-info ul {
  width: 50%;
}
footer .information .info .company-info ul li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
footer .information .info .company-info ul li .icon {
  color: #F20F38;
  font-size: 24px;
  margin-right: 10px;
}
footer .information .links {
  width: 40%;
}
footer .information .links ul {
  display: flex;
  flex-direction: column;
}
footer .information .links li {
  margin-bottom: 0.5rem;
}
footer .information .links li a {
  font-size: 1.2em;
  font-weight: 700;
}
footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
footer .socials .follow-us {
  font-size: 1em;
  font-weight: 700;
  color: #F20F38;
}
footer .socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socials ul li {
  margin: 0 10px;
}
footer .socials ul li a {
  color: #FFFFFF;
  font-size: 24px;
}
footer .socials ul li a:hover, footer .socials ul li a:focus {
  color: #F20F38;
}
footer .copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 2rem;
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  header nav .list {
    padding: 1.5rem 1rem;
  }
  header nav .logo {
    width: 100px;
  }
  header nav .search {
    display: none;
  }
  header nav .btn {
    font-size: 12px;
  }
  header nav .btn-group .list {
    padding-left: 0;
    line-height: 0;
  }
  header nav .btn-group li {
    padding: 0;
    padding-right: 10px;
  }
  header nav .btn-group .btn-search {
    display: block;
  }
  header nav .btn-group .btn-search .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  header nav .btn-group .btn-search i {
    font-size: 20px;
    color: #F20F38;
  }
  header .nav-search-mobile {
    display: none;
    padding: 10px 20px;
    background: #fcfcfc;
  }
  header .nav-search-mobile .search-form {
    display: block;
  }
  header .nav-search-mobile .search-form .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F20F38;
    padding: 12px 20px;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
  }
  header .nav-search-mobile .search-form .wrap .search-key {
    display: flex;
    align-items: center;
  }
  header .nav-search-mobile .search-form .wrap .search-key .selecting-all {
    z-index: 100;
    font-family: "Mitr", Arial, Helvetica, sans-serif;
  }
  header .nav-search-mobile .search-form .wrap .search-key .selecting-all .text {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    padding-right: 4px;
    margin-right: 5px;
    border-right: 2px solid #000000;
    line-height: 15px;
  }
  header .nav-search-mobile .search-form .wrap .search-key input {
    min-width: 250px;
    border: none;
    font-size: 16px !important;
    font-family: "Mitr", Arial, Helvetica, sans-serif;
  }
  header .nav-search-mobile .search-form .wrap .search-key input::placeholder {
    font-family: "Mitr", Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  header .nav-search-mobile .search-form .wrap .search-btn .la-search {
    color: #F20F38;
    font-size: 20px;
  }
  header #banner {
    height: 150px;
  }

  .wrapper {
    max-width: 1600px;
    margin: auto;
    width: 100%;
  }
  .wrapper .inner {
    flex-direction: column;
    padding: 0;
  }
  .wrapper .main {
    width: 100%;
    margin-right: 0;
    padding: 1rem 20px;
  }

  footer .information {
    flex-direction: column;
  }
  footer .information .info {
    width: 100%;
    margin-bottom: 1rem;
  }
  footer .information .info .logo {
    width: 100px;
    margin: 1rem auto;
  }
  footer .information .info .company-info ul {
    width: 90%;
    margin: auto;
  }
  footer .information .info .company-info ul li .icon {
    font-size: 20px;
  }
  footer .information .links {
    width: 100%;
  }
  footer .information .links ul {
    align-items: center;
  }
  footer .information .links ul li {
    margin-bottom: 0.5rem;
  }
  footer .information .links ul li a {
    font-size: 1.2em;
    font-weight: 700;
  }
  footer .socials ul li a {
    color: #FFFFFF;
    font-size: 20px;
  }
}