@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap");
@import "colors";
// 300 - Light (Body Text), 400 - Regular, 500 - Bold (Title/Heading)

body {
  font-family: "Mitr", Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  color: $gray;
  background-color: $white;
  line-height: 1.2rem;
}

p {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
  font-family: "Mitr", Arial, Helvetica, sans-serif !important;
  color: $black;
  padding: 0;
  margin: unset !important;
  font-weight: 500 !important;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.05em;
}

/* Global Element */
img {
  width: 100%;
  height: auto;
}
a,
button {
  font-family: "Mitr", Arial, Helvetica, sans-serif !important;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active,
button:active,
button:focus {
  -moz-outline-style: none !important;
  outline: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  font-family: unset;
}
.link-arrow {
  display: block;
  a {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: $red-primary;
    line-height: 1.5rem;
    i {
      margin-left: 5px;
      font-size: 18px;
    }
    &:hover,
    &:focus {
      color: $red-primary;
      filter: contrast(150%);
      -webkit-filter: contrast(150%);
    }
  }
}
.btn-round {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  color: $red-primary;
  padding: 0.75rem 1.5rem;
  border: 1px solid $red-primary;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  &:hover,
  &:focus {
    color: white;
    background: $red-primary;
  }
}
#breadcrumb {
  .main {
    padding-bottom: 0;
  }
  .breadcrumb {
    a {
      color: $gray;
      font-size: 1em;
      font-weight: 300;
      &:hover,
      &:focus,
      &:active {
        color: $red-primary;
        font-size: 1em;
      }
    }
    & .active.section {
      font-family: "Mitr", Arial, Helvetica, sans-serif;
      font-weight: 500 !important;
      color: $black;
    }
  }
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 280px;
}
.title {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1.75em;
    font-weight: 500;
    text-transform: capitalize;
  }
}
.excerp {
  p {
    font-size: 1.2em;
  }
}

//Global Search Style
.search {
  .search-form {
    display: block;
    .wrap {
      display: flex;
      align-items: center;
      background: $white;
      justify-content: space-between;
      border: 1px solid $red-primary;
      padding: 12px 20px;
      border-radius: 100rem;
      -webkit-border-radius: 100rem;
      -moz-border-radius: 100rem;
      -ms-border-radius: 100rem;
      -o-border-radius: 100rem;
      .search-key {
        display: flex;
        align-items: center;
        .selecting-all {
          z-index: 100;
          font-family: "Mitr", Arial, Helvetica, sans-serif;
          .text {
            font-size: 16px;
            color: $black;
            font-weight: 500;
            padding-right: 4px;
            margin-right: 8px;
            border-right: 2px solid $black;
            line-height: 15px;
          }
        }
        input {
          min-width: 300px !important;
          border: none;
          background: transparent;
          font-size: 16px !important;
          font-family: "Mitr", Arial, Helvetica, sans-serif;
          &::placeholder {
            font-family: "Mitr", Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #797979;
          }
        }
      }
      .search-btn {
        .la-search {
          color: $red-primary;
          font-size: 20px;
        }
      }
    }
  }
}
header {
  nav {
    border-bottom: 1px solid $border-color;
    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem;
      background: $white;
    }

    .logo {
      width: 175px;
    }

    .btn-group {
      .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        line-height: 0;
      }

      li {
        padding: 0 1rem;
      }

      .btn-search {
        display: none;
      }
      .menu-link {
        font-size: 1.15em;
        font-weight: 500;
        color: $black;
        &:hover,
        &:focus {
          color: $red-primary;
        }
        .la-phone {
          color: $red-primary;
          font-size: 20px;
          margin-right: 8px;
        }
      }
    }
  }

  .nav-search-mobile {
    display: none;
  }
}

#content {
  flex: 1 1 auto;
  padding: 1rem 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;

  .inner {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .main {
    // width: 100%;
    flex: 1 1 auto;
    padding: 1.5rem 0;
  }
}
.paging {
  display: flex;
  justify-content: center;
  .pagination {
    .page-item {
      margin: 1.5rem 0.5rem;
      .page-link {
        cursor: pointer;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border: 1px solid $red-primary;
        color: $red-primary;
        &:hover,
        &:focus {
          background: #f2f2f2;
        }
        &.active {
          background: $red-primary !important;
          color: $white;
        }
      }
      .page-link.prev,
      .page-link.next {
        border: 0 !important;
        color: $gray;
      }
      .page-link.prev {
        color: #a5a5a5;
      }
    }
  }
}

footer {
  background: rgb(23, 23, 23);
  width: 100%;
  color: $white;
  padding: 2rem 0;
  .information {
    display: flex;
    a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1em;
      font-weight: 400 !important;
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
    .info {
      width: 60%;
      .logo {
        width: 175px;
        margin-bottom: 1.5rem;
      }
      .company-info {
        ul {
          width: 50%;
          li {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            .icon {
              color: $red-primary;
              font-size: 24px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .links {
      width: 40%;
      ul {
        display: flex;
        flex-direction: column;
      }
      li {
        margin-bottom: 0.5rem;
        a {
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .follow-us {
      font-size: 1em;
      font-weight: 700;
      color: $red-primary;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 10px;
        a {
          color: $white;
          font-size: 24px;
          &:hover,
          &:focus {
            color: $red-primary;
          }
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  header {
    nav {
      .list {
        padding: 1.5rem 1rem;
      }

      .logo {
        width: 100px;
      }

      .search {
        display: none;
      }

      .btn {
        font-size: 12px;
      }

      .btn-group {
        .list {
          padding-left: 0;
          line-height: 0;
        }

        li {
          padding: 0;
          padding-right: 10px;
        }

        .btn-search {
          display: block;

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
          }

          i {
            font-size: 20px;
            color: $red-primary;
          }
        }
      }
    }

    .nav-search-mobile {
      display: none;
      padding: 10px 20px;
      background: #fcfcfc;
      .search-form {
        display: block;
        .wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid $red-primary;
          padding: 12px 20px;
          border-radius: 100rem;
          -webkit-border-radius: 100rem;
          -moz-border-radius: 100rem;
          -ms-border-radius: 100rem;
          -o-border-radius: 100rem;
          .search-key {
            display: flex;
            align-items: center;
            .selecting-all {
              z-index: 100;
              font-family: "Mitr", Arial, Helvetica, sans-serif;
              .text {
                font-size: 14px;
                color: $black;
                font-weight: 500;
                padding-right: 4px;
                margin-right: 5px;
                border-right: 2px solid $black;
                line-height: 15px;
              }
            }
            input {
              min-width: 200px;
              border: none;
              font-size: 16px !important;
              font-family: "Mitr", Arial, Helvetica, sans-serif;
              &::placeholder {
                font-family: "Mitr", Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }
          }
          .search-btn {
            .la-search {
              color: $red-primary;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .wrapper {
    max-width: 1600px;
    margin: auto;
    width: 100%;

    .inner {
      flex-direction: column;
      padding: 0;
    }

    .main {
      width: 100%;
      margin-right: 0;
      padding: 1rem 20px;
    }
  }

  footer {
    .information {
      flex-direction: column;
      .info {
        width: 100%;
        margin-bottom: 1rem;
        .logo {
          width: 100px;
          margin: 1rem auto;
        }
        .company-info {
          ul {
            width: 90%;
            margin: auto;
            li {
              .icon {
                font-size: 20px;
              }
            }
          }
        }
      }
      .links {
        width: 100%;
        ul {
          align-items: center;
          li {
            margin-bottom: 0.5rem;
            a {
              font-size: 1.2em;
              font-weight: 500;
            }
          }
        }
      }
    }
    .socials {
      ul {
        li {
          a {
            color: $white;
            font-size: 20px;
          }
        }
      }
    }
  }
}
