@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap");
/* Montserrat Font for HR Q&A Branding Logo */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
@import "colors";

body {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $gray;
  background-color: $white;
  line-height: 1.2rem;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  color: $black;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.05em;
}

h2.main-title {
  text-align: center;
  margin-bottom: 1.5rem !important;
}

/* Element */
img {
  width: 100%;
  height: auto;
}
a,
button {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active,
button:active,
button:focus {
  -moz-outline-style: none !important;
  outline: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 280px;
}
header {
  nav {
    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem;
      background: $white;
    }

    .logo {
      width: 175px;
    }

    .search {
      .search-form {
        display: block;
        .wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid $red-primary;
          padding: 12px 20px;
          border-radius: 100rem;
          -webkit-border-radius: 100rem;
          -moz-border-radius: 100rem;
          -ms-border-radius: 100rem;
          -o-border-radius: 100rem;
          .search-key {
            display: flex;
            align-items: center;
            .selecting-all {
              z-index: 100;
              font-family: "Mitr", Arial, Helvetica, sans-serif;
              .text {
                font-size: 16px;
                color: $black;
                font-weight: 500;
                padding-right: 4px;
                margin-right: 8px;
                border-right: 2px solid $black;
                line-height: 15px;
              }
            }
            input {
              min-width: 300px !important;
              border: none;
              font-size: 16px !important;
              font-family: "Mitr", Arial, Helvetica, sans-serif;
              &::placeholder {
                font-family: "Mitr", Arial, Helvetica, sans-serif;
                font-size: 16px;
                color: #797979;
              }
            }
          }
          .search-btn {
            .la-search {
              color: $red-primary;
              font-size: 20px;
            }
          }
        }
      }
    }

    .btn-group {
      .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        line-height: 0;
      }

      li {
        padding: 0 1rem;
      }

      .btn-search {
        display: none;
      }
      .menu-link {
        font-size: 1.15em;
        font-weight: 700;
        color: $black;
        &:hover,
        &:focus {
          color: $red-primary;
        }
        .la-phone {
          color: $red-primary;
          font-size: 20px;
          margin-right: 8px;
        }
      }
    }
  }

  .nav-search-mobile {
    display: none;
  }
  #banner {
    width: 100%;
    height: 25vw;
    background: rgb(220, 220, 220);
  }
}

#content {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;

  .inner {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .main {
    // width: 100%;
    flex: 1 1 auto;
    padding: 2rem 0;
  }
}

footer {
  background: rgb(23, 23, 23);
  width: 100%;
  color: $white;
  .information {
    display: flex;
    a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1em;
      font-weight: 500;
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
    .info {
      width: 60%;
      .logo {
        width: 175px;
        margin-bottom: 1.5rem;
      }
      .company-info {
        ul {
          width: 50%;
          li {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            .icon {
              color: $red-primary;
              font-size: 24px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .links {
      width: 40%;
      ul {
        display: flex;
        flex-direction: column;
      }
      li {
        margin-bottom: 0.5rem;
        a {
          font-size: 1.2em;
          font-weight: 700;
        }
      }
    }
  }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .follow-us {
      font-size: 1em;
      font-weight: 700;
      color: $red-primary;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 10px;
        a {
          color: $white;
          font-size: 24px;
          &:hover,
          &:focus {
            color: $red-primary;
          }
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  header {
    nav {
      .list {
        padding: 1.5rem 1rem;
      }

      .logo {
        width: 100px;
      }

      .search {
        display: none;
      }

      .btn {
        font-size: 12px;
      }

      .btn-group {
        .list {
          padding-left: 0;
          line-height: 0;
        }

        li {
          padding: 0;
          padding-right: 10px;
        }

        .btn-search {
          display: block;

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
          }

          i {
            font-size: 20px;
            color: $red-primary;
          }
        }
      }
    }

    .nav-search-mobile {
      display: none;
      padding: 10px 20px;
      background: #fcfcfc;
      .search-form {
        display: block;
        .wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid $red-primary;
          padding: 12px 20px;
          border-radius: 100rem;
          -webkit-border-radius: 100rem;
          -moz-border-radius: 100rem;
          -ms-border-radius: 100rem;
          -o-border-radius: 100rem;
          .search-key {
            display: flex;
            align-items: center;
            .selecting-all {
              z-index: 100;
              font-family: "Mitr", Arial, Helvetica, sans-serif;
              .text {
                font-size: 14px;
                color: $black;
                font-weight: 500;
                padding-right: 4px;
                margin-right: 5px;
                border-right: 2px solid $black;
                line-height: 15px;
              }
            }
            input {
              min-width: 250px;
              border: none;
              font-size: 16px !important;
              font-family: "Mitr", Arial, Helvetica, sans-serif;
              &::placeholder {
                font-family: "Mitr", Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }
          }
          .search-btn {
            .la-search {
              color: $red-primary;
              font-size: 20px;
            }
          }
        }
      }
    }
    #banner {
      height: 150px;
    }
  }

  .wrapper {
    max-width: 1600px;
    margin: auto;
    width: 100%;

    .inner {
      flex-direction: column;
      padding: 0;
    }

    .main {
      width: 100%;
      margin-right: 0;
      padding: 1rem 20px;
    }
  }

  footer {
    .information {
      flex-direction: column;
      .info {
        width: 100%;
        margin-bottom: 1rem;
        .logo {
          width: 100px;
          margin: 1rem auto;
        }
        .company-info {
          ul {
            width: 90%;
            margin: auto;
            li {
              .icon {
                font-size: 20px;
              }
            }
          }
        }
      }
      .links {
        width: 100%;
        ul {
          align-items: center;
          li {
            margin-bottom: 0.5rem;
            a {
              font-size: 1.2em;
              font-weight: 700;
            }
          }
        }
      }
    }
    .socials {
      ul {
        li {
          a {
            color: $white;
            font-size: 20px;
          }
        }
      }
    }
  }
}
