@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap");
/* Primary  */
/* Secondary */
.test {
  border-radius: 1px solid #F20F38;
  -webkit-border-radius: 1px solid #F20F38;
  -moz-border-radius: 1px solid #F20F38;
  -ms-border-radius: 1px solid #F20F38;
  -o-border-radius: 1px solid #F20F38;
}

#banner {
  display: flex;
  width: 100%;
  height: 25vw;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #b40222 0%, #ce0025 100%);
}
#banner .caption {
  width: 600px;
  text-align: center;
}
#banner .caption h1 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 1rem !important;
  color: #FFFFFF;
}
#banner .caption h2 {
  font-size: 1.25em;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 2rem;
  margin-bottom: 1.5rem !important;
}

#home .popular .title {
  text-align: center;
}
#home .popular .excerp {
  text-align: center;
}
#home .popular .popular-links {
  padding: 2rem 0;
}
#home .popular .popular-links ul {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: center;
  margin: 0 auto;
}
#home .popular .popular-links ul .item {
  margin: 1rem 1rem;
}
#home .popular .popular-links ul .item a .box {
  width: 185px;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #F20F38;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#home .popular .popular-links ul .item a .box .icon {
  width: 50px;
  padding: 0.5rem 0;
}
#home .popular .popular-links ul .item a .box .heading {
  font-size: 15px;
  text-align: center;
  min-height: 40px;
}
#home .popular .popular-links ul .item a:hover .box, #home .popular .popular-links ul .item a:focus .box {
  border: 1px solid #666666;
}
#home .popular .link-arrow a {
  justify-content: center;
}
#home .product-tab-display .tab-navigation {
  display: flex;
  justify-content: space-evenly;
  flex: row;
}
#home .product-tab-display .tab-navigation .title-pc {
  display: block;
}
#home .product-tab-display .tab-navigation .title-sp {
  display: none;
}
#home .product-tab-display .tab-navigation .tab-nav {
  width: 40%;
}
#home .product-tab-display .tab-navigation .tab-nav .tablink {
  font-family: "Mitr", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 1rem;
}
#home .product-tab-display .tab-navigation .tab-nav .tablink.active-tab {
  color: #F20F38;
}
#home .product-tab-display .tab-navigation .product-display {
  width: 600px;
}
#home .product-tab-display .tab-navigation .product-display .product-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#home .product-tab-display .tab-navigation .product-display .product-list ul .item {
  margin: 0 5px;
  margin-bottom: 10px;
}
#home .product-tab-display .tab-navigation .product-display .product-list ul .item a .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: 1rem 1rem;
  background: white;
  border: 1px solid #C3C3C3;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#home .product-tab-display .tab-navigation .product-display .product-list ul .item a .box .img-logo img {
  width: 100%;
  height: auto;
}
#home .product-tab-display .tab-navigation .product-display .product-list ul .item a:hover .box, #home .product-tab-display .tab-navigation .product-display .product-list ul .item a:focus {
  border: 1px solid #F20F38;
}
#home .button {
  text-align: center;
}

@media only screen and (max-width: 991px) {
  #banner {
    height: auto;
    padding: 3rem 1rem;
  }
  #banner .caption {
    width: 100%;
    text-align: center;
  }
  #banner .caption h1 {
    font-size: 1.5em;
    margin-bottom: 0.5rem !important;
  }
  #banner .caption h2 {
    font-size: 1em;
    margin-bottom: 1.5rem !important;
  }
  #banner .caption .search .search-form .wrap {
    padding: 10px 10px;
  }
  #banner .caption .search .search-form .wrap .search-key .selecting-all .text {
    font-size: 14px;
    padding-right: 4px;
    margin-right: 5px;
    line-height: 10px;
  }
  #banner .caption .search .search-form .wrap .search-key input {
    min-width: 250px !important;
    font-size: 16px !important;
  }
  #banner .caption .search .search-form .wrap .search-key input::placeholder {
    font-size: 14px;
  }
  #banner .caption .search .search-form .wrap .search-btn .la-search {
    font-size: 16px;
  }

  #home .popular .popular-links {
    padding: 1rem 0;
  }
  #home .popular .popular-links ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  #home .popular .popular-links ul .item {
    margin: 1rem 1rem;
  }
  #home .popular .popular-links ul .item a .box {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #home .popular .popular-links ul .item a .box .icon {
    width: 35px;
    padding: 5px 0;
  }
  #home .popular .popular-links ul .item a .box .heading {
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    min-height: 30px;
    padding: 0 5px;
  }
  #home .popular .popular-links ul .item a:hover .box, #home .popular .popular-links ul .item a:focus .box {
    border: 1px solid #666666;
  }
  #home .product-tab-display .tab-navigation {
    flex-direction: column;
  }
  #home .product-tab-display .tab-navigation .title-pc {
    display: none;
  }
  #home .product-tab-display .tab-navigation .title-sp {
    display: block;
    text-align: center;
  }
  #home .product-tab-display .tab-navigation #owl .owl-stage {
    display: flex;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #home .product-tab-display .tab-navigation #owl .owl-item {
    width: auto !important;
  }
  #home .product-tab-display .tab-navigation #owl .owl-item.active {
    margin-right: 0 !important;
  }
  #home .product-tab-display .tab-navigation .tab-nav {
    width: 100%;
  }
  #home .product-tab-display .tab-navigation .tab-nav .tablink {
    display: flex;
    font-family: "Mitr", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid #F20F38;
    background: #FFFFFF;
    color: #000000;
    padding: 5px 5px;
    margin-bottom: 8px;
    white-space: nowrap;
  }
  #home .product-tab-display .tab-navigation .tab-nav .tablink.active-tab {
    background-color: #F20F38;
    color: white;
  }
  #home .product-tab-display .tab-navigation .product-display {
    width: 100%;
  }
  #home .product-tab-display .tab-navigation .product-display .product-list {
    padding: 2rem 0;
  }
  #home .product-tab-display .tab-navigation .product-display .product-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #home .product-tab-display .tab-navigation .product-display .product-list ul .item {
    margin: 0 5px;
    margin-bottom: 10px;
  }
  #home .product-tab-display .tab-navigation .product-display .product-list ul .item a .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 10px 10px;
  }
  #home .product-tab-display .tab-navigation .product-display .product-list ul .item a .box .img-logo img {
    width: 100%;
    height: auto;
  }
  #home .product-tab-display .tab-navigation .product-display .product-list ul .item a:hover .box, #home .product-tab-display .tab-navigation .product-display .product-list ul .item a:focus {
    border: 1px solid #F20F38;
  }
}